
# User-specific files
*.suo
*.user
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Xx]64/
[Xx]86/
[Bb]uild/
[Bb]in/
[Oo]bj/
UnitTesting/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap


# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets

TestAppLPC2387+IP175CD/settings/
TestAppLPC2387+IP175CD/_Debug
*.dep
*.ewt
/TestAppTM4C129+88E6352/Executable_1 clang Debug
/TestAppTM4C129+88E6352/Executable_1 gcc Debug
/TestAppTM4C129+88E6352/Executable_1 clang Release
/TestAppTM4C129+88E6352/Executable_1 gcc Release
*.hzs
